[Unit]
Description=Xray Client Subscription Auto-Updater
After=network.target
Wants=network.target

[Service]
Type=simple
User=user  # change user and group
Group=user            
WorkingDirectory=/home/user/xray-client # change working directory
ExecStart=/home/user/.local/bin/uv run xray-client-autoupdater
Restart=on-failure
RestartSec=10
Environment="PATH=/home/user/.local/bin:/usr/local/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target